.side {
  width: 280px;
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.preview {
  flex: 1;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 6px 2px;
}

.bottom {
  
}
