.container {
  height: 6px;
  position: relative;
  background: #ccc;
  margin-top: 10px;
  border-radius: 4px;
  width: 135px;
  display: inline-block;
}

.filling {
  height: 100%;
  background: #6495ed;
  width: 25%;
  position: relative;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.thumb {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.368627) 0px 1px 4px 0px;
  top: -4px;
  right: -14px;
  box-sizing: border-box;
}

.thumb:active {
  background: #ddd;
}
