.container {
  display: flex;
  padding-right: 4px;
  border-bottom: 1px solid #ddd;
  height: 28px;
}

.container:hover {
  background: rgba(255, 255, 255, 0.5);
}

.container:active {
  background: rgba(255, 255, 255, 0.75);
}

.containerActive {
  composes: container;
}

.containerActive,
.containerActive:hover,
.containerActive:active {
  background: #fff;
}

.container:last-child {
  border-bottom: none;
}

.name {
  flex: 1;
  padding: 0px 3px;
  font-size: 13px;
  color: #444;
  cursor: default;
  line-height: 28px;
}

.container:hover .button {
  display: inline-block;
}

.button {
  width: 24px;
  border: none;
  background: transparent;
  font-size: 12px;
  color: #777;
  text-align: center;
  padding: 0;
}

.buttonInactive {
  composes: button;
  opacity: 0.5;
}

.button:focus {
  outline: none;
}

.preview {
  width: 14px;
  height: 14px;
  margin: 7px 7px 7px 10px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
