.container {
  background: #eee;
  font-family: "Lato", sans-serif;
  padding-bottom: 45px;
  padding-bottom: 30px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ddd;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 900px;
  min-height: 600px;
  height: 100%;
}

.header {
  background: #eee;
  height: 40px;
  color: #444;
  font-size: 15px;
  line-height: 40px;
  z-index: 10;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.title {
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: initial;
}

.toolbar {
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 12px 0 6px;
}

.author {
  float: right;
  font-size: 11px;
  color: #999;
}

.author a:hover {
  color: #999;
}

.author a {
  text-decoration: none;
  color: #666;
}

.githubIcon {
  margin-left: 4px;
}

.toolButton {
  height: 32px;
  margin: 3px 0;
  background: transparent;
  border: none;
  font-size: 15px;
  color: #444;
  width: 40px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.toolButton:hover {
  color: #777;
}

.toolButton:active {
  color: #999;
}

.toolButton:focus {
  outline: none;
}

.columns {
  display: flex;
  width: 100%;
  height: 100%;
  height: 500px;
  flex: 1;
}

/* uh, oh. very hacky, pls nerf */
:global(.chrome-picker) {
  box-shadow: none !important;
  width: auto !important;
  background: transparent !important;
}

:global(.chrome-picker input) {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px !important;
  padding: 4px 1px 4px 4px !important;
  border-bottom: 2px solid #ddd !important;
}
